Assignment-2 (DATA STRUCTURE)

#Question 1- Discuss string slicing and provide examples.

#ANSWER- 
The string slicing is a method in which extracting method is done in 3 steps with the help of indices and negative
indices.
1.start
2.stop
3.step

examples:

In [2]:
e= "Hello world"
e[1:4]

'ell'

In [3]:
e= "Hello world"
e[:5]

'Hello'

In [7]:
#negative indices.
e= "Hello world"
e[-11:]

'Hello world'

#question 2- Explain the key features of lists in Python.

#Answer 2- The key features of list are:
The lists are the ordered collection of elements also it can hold various types of data structures like float, string, int, tuples.
The lists are mutable which means they can get change.

We can modify, add, and remove the elements from the list.

In [37]:
Mobile_list= [123, 456, 4.5, "jam", "butter"]

Question 3- Describe how to access, modify, and delete elements in a list with examples.

Answer 3-

In [23]:
Shopping_list=["Bread","jam", 345, 4.5]

In [24]:
#this is the list above and it contains every type of data structures: string, float, int.

We will access the elements using indexing method-

In [25]:
Shopping_list=["Bread","jam", 345, 4.5] 

Shopping_list[1]

'jam'

In [26]:
Shopping_list[-2]

345

We will add the elements in the existing list using keyword (append).

In [27]:
Shopping_list=["Bread","jam", 345, 4.5] 
Shopping_list.append("diamond")

In [28]:
Shopping_list

['Bread', 'jam', 345, 4.5, 'diamond']

In [30]:
#the elements are added in the list.

We will modify the elements:

In [31]:
Shopping_list=["Bread","jam", 345, 4.5]

In [32]:
Shopping_list[0]= "pav bhaji"

In [33]:
Shopping_list

['pav bhaji', 'jam', 345, 4.5]

We will delete the element of the list.

In [35]:
del Shopping_list[0]

In [36]:
Shopping_list

['jam', 345, 4.5]

Question-4 Compare and contrast tuples and lists with examples.

Answer-4 

1. Tuples- Tuples are almost similar as list in various points: Tuples are ordered collection of elements which stores different type of data structures. It is representated in parenthesis (). 
- Tuples are immutable which is the elements in the tuples cannot change.
- Tuples can be accessed through slicing method and indexing method but it cannot be modified as it is immutable.
Examples are below:

In [1]:
t = (1, 2.4, "tuple", "string")

In [2]:
type(t)

tuple

In [3]:
#we will access the tuple elements.

In [6]:
t = (1, 2.4, "tuple", "string")
t[1]   #accessing elements through indexing.

2.4

In [7]:
t[-3]

2.4

In [8]:
t = (1, 2.4, "tuple", "string")
t[-5:]  #accessing elements through slicing

(1, 2.4, 'tuple', 'string')

In [10]:
t = (1, 2.4, "tuple", "string")
t[2]= "float"    #tuples are immutable, cannot be changed.

TypeError: 'tuple' object does not support item assignment

In [22]:
t1= ('gold', 1, 456)
t2= ('diamond', 2, 567)

t3= t1+t2  #membership

In [23]:
t3

('gold', 1, 456, 'diamond', 2, 567)

In [26]:
len(t3) #we can check the length of tuple like this.

6

2. Lists- These are the ordered collections of elements which can store different type of data structure like string, float, int.
          - The lists are mutable which means it can get changed. 
          - The lists can be modified, accessed, and deleted as well.
          - examples are below-

In [11]:
grocery_list= ['chips', 'cookies', 'veg', 3, 456]

In [12]:
type(grocery_list)

list

In [13]:
grocery_list[0:5] #accessed through slicing

['chips', 'cookies', 'veg', 3, 456]

In [14]:
grocery_list[-1:]

[456]

In [18]:
del grocery_list[2] #deleted the element in list which was not happening in tuples.

In [17]:
grocery_list

['chips', 'cookies', 3, 456]

Question 5- Describe the key features of sets and provide examples of their use.

Answer5- Sets are unordered unique collection of elements and due to that, indexing and slicing is not possible because
it is unordered. Curly brackets are used in sets. It is unique because it does not store any duplicate elements.
The key features of sets are: 
-sets can be added , modified and removed but cannot be accessed through slicing and indexing because it is unordered and unique collection of elements.
Examples:

In [27]:
s= {"tulika"}

In [28]:
type(s)

set

The use case of set is that we can have a unique collection of set with no duplicates when there is a
requirement to check the things which have already happened.
For example- Voter ID's.
Through set method, we can check is the new voter is comping or again any duplicate is coming to vote.

In [3]:
Voters= {111, 222, 222, 444, 444, 666, 777, 888}

In [4]:
Voters #no duplicate elements executed.

{111, 222, 444, 666, 777, 888}

Sets have 4 operations:
1. Union operations- if there are 2 pairs of sets, all the elements are included in this. It is denoted as 
A|B

2. Intersection operations: Elements from both the elements which are intersected and present in both sets.It is
denoted as A&B.

3. Difference operations: All the elements which are present in first set. It is denoted as A-B.

4. Symmetric difference operations: It return all the elements other than the common elements in both the sets.
It is denoted as A^B.

Examples:

In [6]:
#UNION  #executed all the elements.

s1 = { 2, 3, 4, 5}
s2 = { 3, 6, 4, 7}

s1|s2

{2, 3, 4, 5, 6, 7}

In [8]:
# intersection
s1 = { 2, 3, 4, 5}
s2 = { 3, 6, 4, 7}

s1&s2 # these 2 are present in both sets.

{3, 4}

In [10]:
#Difference
s1 = { 2, 3, 4, 5}
s2 = { 3, 6, 4, 7}

s1-s2

{2, 5}

In [11]:
#symmetric

s1 = { 2, 3, 4, 5}
s2 = { 3, 6, 4, 7}

s1^s2

{2, 5, 6, 7}

Question-6  Discuss the use cases of tuples and sets in Python programming.

Answer-6 
Use case of tuples are DATA STRUCTURE WHERE YOU DONT WANT TO MODIFY THE DATA.
Example:

In [12]:
Employee_id= (123, 456, 678, 789)

In [13]:
Employee_id[1]= 666

TypeError: 'tuple' object does not support item assignment

In [14]:
#tuple will not change

Use case of set- if there is a grocery list which includes verious items in it and it has been provided to you
without any pre-check if the items are repeated in the list or not, with the help of set, we can make a list 
with only unique elements included in it and not the duplicate one.
Example:

In [15]:
Grocery_list= {'fruits', 'pencil', 'pencil', 'pencil', 'vegies', 'vegies', 'jar', 'mug', 'mug'}

In [16]:
Grocery_list #no duplicate elements included.

{'fruits', 'jar', 'mug', 'pencil', 'vegies'}

Question 7- Describe how to add, modify and delete items in a dictionary with examples.

Answer 7-  The ditionary is a data structure that stores the data in key-value pairs. 
every key has their own value and keys are immutable which cannot be changed. It is denoted as 
curly brackets. {}

In [1]:
d = {"name": "Tulika", "Course" : "data analytics"}

In [2]:
d

{'name': 'Tulika', 'Course': 'data analytics'}

In [4]:
type(d)

dict

In [7]:
d['name']

'Tulika'

In [6]:
d['Tulika']

KeyError: 'Tulika'

In [8]:
# we will add the items in the dictionary.

d = {"name": "Tulika", "Course" : "data analytics"}

In [9]:
d["level"] = "beginner"

In [10]:
d

{'name': 'Tulika', 'Course': 'data analytics', 'level': 'beginner'}

In [11]:
#we will delete the items in the dictionary
d = {'name': 'Tulika', 'Course': 'data analytics', 'level': 'beginner'}

In [16]:
del d['level']

In [17]:
d

{'name': 'Tulika', 'Course': 'data analytics'}

In [5]:
#we will modify the items

d = {'name': 'Tulika', 'Course': 'data analytics', 'level': 'beginner'}

d.clear()

In [6]:
d

{}

In [7]:
#if we want keys & values seprately.

d = {'name': 'Tulika', 'Course': 'data analytics', 'level': 'beginner'}
d.keys()

dict_keys(['name', 'Course', 'level'])

In [8]:
d.values()

dict_values(['Tulika', 'data analytics', 'beginner'])

Qoestion 8-  Discuss the importance of dictionary keys being immutable and provide examples.

Answer- Dictionary keys are important because in dictionary there is no indexing or negative indexing method
is used, instead we use key as index values. Also we can access values using key but not vice versa and this 
helps us to take out the exact value of that particular we are searching for.

Examples:

In [9]:
d = {"tulika": 11 , "soni": 22, "reena": 33, "oggy": 44, "bluie": 66}

In [11]:
d.values()

dict_values([11, 22, 33, 44, 66])

In [12]:
d.keys()

dict_keys(['tulika', 'soni', 'reena', 'oggy', 'bluie'])